@model ConventionAdvertise.Models.ConInformation


<h2>@Model.ConName</h2>

@{ 
    List<string> hotels = @Model.Hotels.Split(',').ToList<string>();
}
<ul>
    <li>Official Website: @Model.Website</li>
    <li>Location: @Model.LocationOf</li>
    <li>Date: @Model.StartDate - @Model.EndDate</li>
    <li>Convention Theme: @Model.Theme</li>
    <li>Registration Price: $@Model.RegPrice</li>
    <li>Hotels: @Model.Hotels</li>
</ul>
