@model ConventionAdvertise.Models.ConInformation
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCon</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <label>Convention Name:</label>
            @Html.TextBoxFor(x => x.ConName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Location (city, state):</label>
            @Html.TextBoxFor(x => x.LocationOf, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Theme:</label>
            @Html.TextBoxFor(x => x.Theme, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Start Date (mm/dd/yyyy):</label>
            @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>End Date (mm/dd/yyyy):</label>
            @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Available Hotels (separate with commas):</label>
            @Html.TextBoxFor(x => x.Hotels, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Registration Price: $</label>
            @Html.TextBoxFor(x => x.RegPrice, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Your official website:</label>
            @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
        </div>
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Add Con" />
        </div>
    }
</body>
</html>
